page-cadastro {

.centro {
    border: 3px solid #73AD21;
    position:center;
    // margin-left: center;
    // margin-right: center;
}

.botoes{
  position:center;
  width: 100px;
  height: 30px;
  margin: auto;
}
.div{
  margin: auto;
}
}
